    <footer class="bg-slate-50 text-slate-900 p-10 grid grid-cols-4">
        <form class="col-span-4 md:col-span-4 py-16 flex flex-col items-center justify-center bg-slate-500">
            <h6 class="footer-title">Newsletter</h6>
            <fieldset class="form-control w-80">
                <label class="label">
                <span class="label-text bg-yellow-300 w-full text-center">Get notified about our blogs published</span>
                </label>
                <div class="join">
                <input
                    type="text"
                    placeholder="username@site.com"
                    class="input input-bordered join-item w-full" />
                <button class="btn btn-primary join-item">Subscribe</button>
                </div>
            </fieldset>
        </form>
        <nav class="col-span-4 md:col-span-1">
            <div class="logo">codeBLOGI</div>
            <div class="social-media">

            </div>
        </nav>
        <nav class="col-span-4 md:col-span-1">
        <h6 class="footer-title">Company</h6>
        <a class="link link-hover">About us</a>
        <a class="link link-hover">Contact</a>
        <a class="link link-hover">Jobs</a>
        <a class="link link-hover">Press kit</a>
        </nav>
        <nav class="col-span-4 md:col-span-1">
        <h6 class="footer-title">Legal</h6>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
        </nav>
        <nav class="col-span-4 md:col-span-1">
        <h6 class="footer-title">Legal</h6>
        <a class="link link-hover">Terms of use</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
        </nav>
    </footer>
    </body>
</html>