<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="500">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tailwind/style.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>BLOG</title>
</head>
<body>