<div class="featured-text h-48 flex flex-col justify-center items-center text-slate-50">
    <span class="text-2xl font-bold"><%= title %></span>
    <p class="font-light text-sm px-8 text-center"><%= description %></p>
</div>