<%- include('partials/header')%>
    <div class="main-container md:px-16 overflow-hidden bg-gradient-to-br from-cyan-500 to-purple-800 to-100%">
        <div class="nav-bar">
            <nav class="flex flex-col gap-8 md:flex-row">
                <span class="logo text-2xl">CODE BLOGI</span>
                <ul class="flex">
                    <li>Features</li>
                    <li>Pricing</li>
                    <li>Contacts</li>
                </ul>
                <div class="buttons">
                    <button class="login px-2 py-1 text-xs rounded-md">Login</button>
                    <button class="signup px-2 py-1 border border-white text-xs rounded-md">Sign up</button>
                </div>
            </nav>
        </div>
        <div class="intro">
            <div class="content">
                <h1 class="text-4xl font-semibold">Blogs</h1>
                <p class="">All news about programming in one place.</p>
                <a href="/blogs" class="cta-btn px-2 py-1 border border-white text-xs rounded-md">View Project</a>
            </div>
        </div>
    </div>
<%- include('partials/footer')%>